body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  
  .container {
    max-width:max-content;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1px solid rgb(99, 97, 97);
    border-radius: 20px;
    background-color: #f3f1f1;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
  }
  .heading{
    text-transform: uppercase;
    padding: 20px 0;
  }
  .signUpSection{
    padding: 10px;
  }
  .signUpSection .signBtn{
    border: 0.1px solid  gray !important;
    width: 100px !important;
    padding: 5px;
    border-radius: 5px;
    background-color: gray;
    text-decoration: none;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  